<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <connectionStrings>
        <add
            name="DefaultConnection"
            connectionString="Server=(localdb)\mssqllocaldb;Database=ParPolicyDb;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
        <add key="PolicyFeed_Dropoff" value="C:\ParPolicyAdmin\Dropoff\Policy" />
        <add key="PolicyFeed_Staging" value="C:\ParPolicyAdmin\Staging\Policy" />
        <add key="PolicyFeed_Archive" value="C:\ParPolicyAdmin\Archive\Policy" />

        <add key="AnnualMailingFeed_Dropoff" value="C:\ParPolicyAdmin\Dropoff\AnnualMailingList" />
        <add key="AnnualMailingFeed_Staging" value="C:\ParPolicyAdmin\Staging\AnnualMailingList" />
        <add key="AnnualMailingFeed_Archive" value="C:\ParPolicyAdmin\Archive\AnnualMailingList" />
        <add key="AnnualMailingFeed_Name" value="ANNUAL.TXT" />

        <add key="BarcodeFeed_Dropoff" value="C:\ParPolicyAdmin\Dropoff\Barcode" />
        <add key="BarcodeFeed_Staging" value="C:\ParPolicyAdmin\Staging\Barcode" />
        <add key="BarcodeFeed_Archive" value="C:\ParPolicyAdmin\Archive\Barcode" />

        <add key="TriggerPath" value="C:\ParPolicyAdmin\Trigger" />
        <add key="TriggerFile_AnnualMailingList" value="Trigger_AnnualMailingList.txt" />

        <add key="Path_Template" value="C:\ParPolicyAdmin\_Template" />
        <add key="File_Template_Duplicate" value="Duplicate_Template.xlsx" />

        <add key="Output_Staging" value="C:\ParPolicyAdmin\_Output" />
        <add key="CstcFeed" value="Manulife_Mailing_List.txt" />
    </appSettings>
</configuration>