<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <appSettings>
        <add key="PolicyFeed_Dropoff" value="C:\ParPolicyAdmin\Dropoff\Policy" />
        <add key="PolicyFeed_Staging" value="C:\ParPolicyAdmin\Staging\Policy" />
        <add key="PolicyFeed_Archive" value="C:\ParPolicyAdmin\Archive\Policy" />
    </appSettings>
</configuration>